.App {
  text-align: center;
  
  
}

.NameStyle{
  color: rgb(70, 24, 18);
  background-color: rgba(146, 81, 44, 0.404);
  margin-left: 600px;
  margin-right: 600px;
  border-radius: 10px;
 
}
body{
  background-color:  rgba(168, 168, 168, 0.288);
}

